.input-stage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  text-align: center;
}

.todo-container {
  display: flex;
}

.todo-box {
  width: 150px;
  height: 150px;
  
  border: 2px solid green;
  border-radius: 10px;

  margin: 10px;

  text-align: center;
}